

<div class="container">
  <h3>Select Event for Countdown</h3>
  <div class="datePicker">
    <mat-card>
      <h3>Event Name</h3>
      <mat-form-field>
        <input (dateChange)="addEvent('change', $event)" (dateInput)="addEvent('input',$event)" [matDatepicker]="simplePicker" disabled
               matInput placeholder="Choose an event Date">
        <mat-datepicker #simplePicker startView="multi-year" disabled="false"></mat-datepicker>
        <mat-datepicker-toggle matsuffix [for]="simplePicker" disabled="false"></mat-datepicker-toggle>
      </mat-form-field>
    </mat-card>
  </div>
</div>
<div class="example-events">
  <h5>testing for updating event changes</h5>
  <div *ngFor="let e of events">{{e}}</div>
</div>
<div class="countdown">
  <h2>Countdown:  {{timer}}</h2>
</div>
